body {
  background-color: #1e0549;
  text-align: center;
  cursor: grab;
}

#imgPersonal {
  border-radius: 50%;
  height: 190px;
  width: 180px;
}

#p {
  border: #1e0549 2px solid;
}
hr {
  background-color: white;
}

div {
  padding: 10px 20px 30px 40px;
  border: 2px solid white;
  margin: 40px 40px 40px 100px;
}

.links {
  color: white;
}

#topName {
  color: #e0a9fc;
}

div {
  background-color: #7b2bbe;
  color: #e0a9fc;
}

#u-list {
  list-style-type: square;
}

a:hover {
  color: #1e0549;
  font-size: 20px;
  border: white 2px dotted;
}
