body {
  background-color: cornsilk;
  background-image: url("../source/backgroud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#imgPersonal {
  border-radius: 50%;
  height: 190px;
  width: 200px;
}
